<nav class="navbar navbar-expand-lg navbar-light">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">< rebecka /> </a>
     <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
       aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button> -->
     <!-- TEST-->
     <div
        class="nav-toggler"
        [class.drawer-open]="isDrawerOpen"
        (click)="toggleNavDrawer(!isDrawerOpen)"
        id="nav-toggler" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
      >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

     <div class="collapse navbar-collapse" id="navbarText">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Features</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Pricing</a>
         </li>
       </ul>
     </div>
   </div>
 </nav>
 <div class="line mb-4" [ngStyle]="{'margin-top':isDrawerOpen ? '0rem' : '2.2rem'}"></div>

 <router-outlet></router-outlet>