


h3 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    margin: 0;
    line-height: 25px;
}

#nameHeader {
    display: inline-block;
    text-transform: uppercase;
    font-size: 38px;
}

#name1 {
    letter-spacing: 3px;
    text-decoration: underline;
    text-decoration-color: #BA2C73;
    text-underline-offset: 9px;
    font-weight: 600;
}

#name2 {
    margin-top: -10px;
}

#presentation {
    font-weight: 500;
}

.number {
    color: #BA2C73;
}

// #socialmedia {
//     border-top: 2px solid #071013;
//     border-bottom: 2px solid #071013;
// }

// .fa-brands {
//     color: #BA2C73;
//     font-size: 35px;
// }

// .dot {
//     font-size: 38px;
// }

// #navigationbox {
//     font-size: 20px;
//     font-weight: 600;
// }

// .navigationlink {
//     color: #071013;
//     text-decoration: none;
// }

#myself {
   // width: 100%;
}