<div class="text-center">
    <h3>Hi, I'm</h3>
    <div id="nameHeader" class="mt-1">
        <div id="name1">Rebecka</div>
        <div id="name2">Elisabeth</div>
    </div>
    <div id="presentation" class="mt-1">A full-stack web developer<br>
        & UI/UX enthusiast<br>
        addicted to tea and music.</div>
    <div class="line mt-4"></div>
    <img src="../../assets/pictures/thumbnail_IMG_1973.jpg" class="w-100">
    <div class="line mb-4"></div>
    <h3>"I'm also a mom, a writer<br>and so many other things..."</h3>
    <h1 class="mt-4">
        <div class="row justify-content-center">
            <div class="col-2"><span class="text-primary">01</span>.</div>
            <div class="col-6 d-flex align-items-center justify-content-between">About me <i
                    class="fa-solid fa-arrow-right fa-sm ms-2"></i></div>
        </div>
    </h1>
    <div class="line mt-4"></div>
    <img src="../../assets/pictures/code.jpg" id="myself" class="w-100">
    <div class="line mb-4"></div>
    <h3 class="px-4">"But first, let's talk code."</h3>
    <h1 class="mt-4">
        <div class="row justify-content-center">
            <div class="col-2"><span class="text-primary">02</span>.</div>
            <div class="col-6 d-flex align-items-center justify-content-between">Projects <i
                    class="fa-solid fa-arrow-right fa-sm ms-2"></i></div>
        </div>
    </h1>
    <div class="line mt-4"></div>
    <img src="../../assets/pictures/aboveandbeyond.jpg" id="myself" class="w-100">
    <div class="line mb-4"></div>
    <h3 class="px-4">"And now... Music!"</h3>
    <h1 class="mt-4">
        <div class="row justify-content-center">
            <div class="col-2"><span class="text-primary">03</span>.</div>
            <div class="col-6 d-flex align-items-center justify-content-between">Adventures <i
                    class="fa-solid fa-arrow-right fa-sm ms-2"></i></div>
        </div>
    </h1>
    <div class="line mt-4 mb-4"></div>
    <h3 class="px-4">"Still curious?"</h3>
    <div id="socialmedia" class="d-flex justify-content-around m-4 align-items-center">
        <span class="dot">•</span><i class="fa-brands fa-linkedin"></i><span class="dot">•</span><i
            class="fa-brands fa-github"></i><span class="dot">•</span><i class="fa-brands fa-codepen"></i><span
            class="dot">•</span>
    </div>
</div>